<%- include("./nav.ejs") %>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>




<section class="producto-detalle">
  <div class="container">
    <% data.forEach(producto => { %>
    <div class="producto">
      <div class="row">
        <div class="col-md-6">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <% producto.imgs.forEach((img, index) => { %>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="<%= index %>"
                class="<%= index === 0 ? 'active' : '' %>"
              ></li>
              <% }); %>
            </ol>
            <div class="carousel-inner">
              <% producto.imgs.forEach((img, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img
                  class="d-block w-100"
                  src="/<%= img %>"
                  alt="<%= producto.nombre %>"
                />
              </div>
              <% }); %>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h2><%= producto.nombre %></h2>

          <p class="descripcion"><%= producto.descripcion %></p>
          <p><strong>Código:</strong> <%= producto.codigo %></p>
          <p><strong>Materiales:</strong> <%= producto.materiales %></p>
          <p><strong>Color:</strong> <%= producto.color %></p>
          <p><strong>Precio:</strong> $<%= producto.precio %></p>
          
          <button
            class="comprar-button btn btn-primary"
            data-toggle="modal"
            data-target="#compraModal<%= producto.codigo %>"
          >
            Comprar
          </button>

          <%- include('./calificacion/calificacion.ejs') %>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="compraModal<%= producto.codigo %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="compraModalLabel<%= producto.codigo %>"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="compraModalLabel<%= producto.codigo %>">
              Confirmar Compra
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5><%= producto.nombre %></h5>
            <p id="descripcion">
              <%= producto.descripcion.substring(0, 100) %>
            </p>
            <p>
              <strong>Precio:</strong> $<span id="precio"
                ><%= producto.precio %></span
              >
            </p>

            <form>
              <input
                type="hidden"
                id="productId"
                value="<%= producto.codigo %>"
              />

              <div class="form-group">
                <label for="cardType">Tipo de Tarjeta</label>
                <select class="form-control" id="cardType">
                  <option value="6011111111111117">Discover</option>
                  <option value="4111111111111111">Visa</option>
                  <option value="5555555555554444">Mastercard</option>
                  <option value="378282246310005">American Express</option>
                  <option value="3530111333300000">JCB</option>
                  <option value="30569309025904">Diners Club</option>
                </select>
              </div>

              <div class="form-group">
                <label for="cvv">CVV</label>
                <input
                  type="text"
                  class="form-control"
                  id="cvv"
                  placeholder="123"
                />
              </div>
              <div class="form-group">
                <label for="expirationMonth">Mes de Expiración</label>
                <input
                  type="text"
                  class="form-control"
                  id="expirationMonth"
                  placeholder="01"
                />
              </div>
              <div class="form-group">
                <label for="expirationYear">Año de Expiración</label>
                <input
                  type="text"
                  class="form-control"
                  id="expirationYear"
                  placeholder="2024"
                />
              </div>
            </form>

            ¿Estás seguro de que quieres comprar este producto?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary" id="payment">
              Confirmar Compra
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>

<script>
  document
    .getElementById("payment")
    .addEventListener("click", function (event) {
      event.preventDefault();

      var data = {
        productId: document.getElementById("productId").value,
        cardType: document.getElementById("cardType").value,
        amount: document.getElementById("precio").textContent,
        description: document.getElementById("descripcion").textContent,
        cvv: document.getElementById("cvv").value,
        expirationMonth: document.getElementById("expirationMonth").value,
        expirationYear: document.getElementById("expirationYear").value,
        sessionToken: localStorage.getItem("token"),
      };

      fetch("/compra", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Success:", data);
          console.log("hola");

          if (data.error === "token") {
            window.location.href = "/cliente/login";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>

<!-- CALIFICACION -->

<script>
  const niveles = Array.from({ length: 5 }, (_, i) =>
    document.getElementById(`nivel${i + 1}`)
  );

  niveles.forEach((nivel, index) => {
    nivel.addEventListener("click", () => {
      niveles.forEach((n, i) => {
        if (i <= index) {
          n.classList.add("activeScore");
        } else {
          n.classList.remove("activeScore");
        }

        if (n.classList.contains("activeScore")) {
          document.getElementById("btn").removeAttribute("disabled");
        }
      });
    });
  });

  const url = window.location.pathname;
  const urlSegments = url.split("/");
  const lastSegment = urlSegments[urlSegments.length - 1];

  document.getElementById("calificar").addEventListener("click", () => {
    const calificacion = niveles.filter((n) =>
      n.classList.contains("activeScore")
    ).length;

    const data = {
      calificacion,
      token: localStorage.getItem("token"),
      idProducto: lastSegment,
    };

    console.log(data);

    fetch("/calificacion", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });
  });

  let calificacion = JSON.parse(`<%- JSON.stringify(data) %>`);

  console.log(calificacion);
  function addActiveScoreClass(score) {
    
    for (let i = 1; i <= score; i++) {
      document.getElementById("nivel" + i).classList.add("activeScore");
      console.log("nivel" + i);
    }
  }
  console.log(calificacion[0].calificacion);
  addActiveScoreClass(calificacion[0].calificacion);

  // Ahora puedes usar la variable calificacion en tu código JavaScript
  document.addEventListener("DOMContentLoaded", () => {
    const token = localStorage.getItem("token");
    if (!token) {
      window.location.href = "/login";
    }

    fetch(`/calificacion/${token}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        token,
        idProducto: lastSegment,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        /* console.log(data); */
        if (data.calificacion !== 0) {
          // Si existe la calificación, oculta el elemento
          const calificarDiv = document.getElementById("calificar");
          calificarDiv.style.display = "none";
        }
      });
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<%- include("../navegacion/foot.ejs") %>
